<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>270064167470-ja2vc6h5lflbjbjub4me4eae3jht3j9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270064167470-ja2vc6h5lflbjbjub4me4eae3jht3j9h</string>
	<key>API_KEY</key>
	<string>AIzaSyDUNpz32-yXiYuqCU7RfYLG6jnmtC1V5Oo</string>
	<key>GCM_SENDER_ID</key>
	<string>270064167470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marina.SampleChatApp</string>
	<key>PROJECT_ID</key>
	<string>samplesns-1cf41</string>
	<key>STORAGE_BUCKET</key>
	<string>samplesns-1cf41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:270064167470:ios:89b80ec2cf03d376</string>
	<key>DATABASE_URL</key>
	<string>https://samplesns-1cf41.firebaseio.com</string>
</dict>
</plist>
